{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ page_name }}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="jumbotron mt-2" xmlns="http://www.w3.org/1999/html">
            <h1 class="text-center display-4 lead">{{ page_name }}</h1>

            {{ form_start(form) }}
                {{ form_errors(form) }}

                {{ form_row(form.mail) }}
                {{ form_row(form.submit) }}
                {{ form_widget(form._token) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
